main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#contenedor-frase {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-frase article {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em;
}

#comilla {
    font-size: 3.5rem;
    position: absolute;
    display: block;
    height: 28px;
    top: 0;
    left: 22%;
}

#contenedor-frase article div p {
    max-width: 68ch;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 100; /*Creo que está de más*/
    letter-spacing: 1px;
}

#no-nos-crees {
    display: flex;
    justify-content: center;
    align-items: center;
}

#no-nos-crees p {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

#carousel-cambio-climatico {
    display: flex;
    background-color: #004643;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
}

#carousel-cambio-climatico::-webkit-scrollbar {
    display: none;
}

.contenedor-carousel {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    animation: carousel 5s infinite linear;
}

.cuadros-carousel {
    flex: 0 0 auto;
    width: 300px;
    height: 250px;
    background: #D9D9D9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: 1em;
}

@keyframes carousel {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
/*calc(-6 * (300px + 1em))*/

#objetivo-equipo {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

#objetivo-equipo article>p {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    padding: 0.5em;
}

#objetivo-equipo article p {
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-align: justify;
    color: #004643;
}

#equipo-eco-aware {
    margin-top: 1.5em;
    display: flex;
    gap: 1em;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0F3433;
    padding: 1em;
}

#equipo-eco-aware article {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #ABD1C6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombre-imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.nombre-imagen h1 {
    font-size: 1.35rem;
    color: #004643;
    letter-spacing: 2px;
}

.img {
    width: 40%;
    background-color: #0F3433;
    height: 80%;
    border-radius: 100%;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#equipo-eco-aware article:hover {
    background-color: #F9BC60;
    color: #0F3433;
}

.iconos-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 25%;
}

.iconos-redes img {
    width: 13%;
    height: auto;
}

footer {
    margin-top: 1em;
}