@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #ABD1C6;
    display: grid;
    grid-template-areas:    "header header"
                            "nav nav"
                            "main main"
                            "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
    min-height: 100vh;
    overflow: auto;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #004643;
}

#contenedor-logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

#contenedor-logo img {
    width: 100%;
    height: auto;
}

#titulo-Eco-Aware {
    color: #0F3433;
    font-size: 1.5rem;
}

#contenedor-home {
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen-home {
    width: 23%;
    height: auto;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0F3433;
    height: auto;
}

.opciones-nav {
    font-size: 1.5rem;
    color: #E8E4E6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    width: fit-content;
}


.opciones-nav p {
    padding: 0.25em;
}

.opciones-nav p:hover {
    cursor: pointer;
    color: #0F3433;
    background-color: #F9BC60;
    border-radius: 0.5em;
}

.nav-selected {
    cursor: pointer;
    color: #0F3433;
    background-color: #F9BC60;
    border-radius: 0.5em;
}

#imagen-home:hover {
    transform: scale(1.25);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

footer p {
    font-size: 1.35rem;
    color: #0F3433;
    letter-spacing: 2px;
}

.before-transicion-logo {
    animation-name: before-transicion-logo;
    animation-duration: 2s;
    transition: ease-in-out;
}

.after-transicion-logo {
    animation-name: after-transicion-logo;
    animation-duration: 2s;
    transition: ease-in-out;
}

@keyframes before-transicion-logo {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes after-transicion-logo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.85;
    }
    100% {
        opacity: 1;
    }
}