body {
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#contenedor-frase {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-frase article {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

p span {
    font-size: 3.5rem;
    color: #004643;
}

#contenedor-frase article div p {
    max-width: 68ch;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 100; /*Creo que está de más*/
    letter-spacing: 1px;
    color: #004643;
}

#no-nos-crees {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004643;
}

#no-nos-crees p {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

#carousel-cambio-climatico {
    position: relative;
    background-color: #004643;
    width: 100%;
    height: 290px;
    overflow-x: hidden;
    padding: 1em;
    box-sizing: border-box;
}

#carousel-cambio-climatico::-webkit-scrollbar {
    display: none;
}

.cuadros-carousel {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 100%;
    background: #D9D9D9;
    border-radius: 1em;
    animation: moverCarrusel 20s linear infinite;
}

.cuadros-carousel img {
    width: 100%;
    height: inherit;
    border-radius: inherit;
}

/*
.hover-img-carrusel {
    transform: scale(2);
}*/

.cuadro1 {
    background-color: yellow;
    animation-delay: calc( 20s / 5 * (5 - 1) * -1);
}

.cuadro2 {
    background-color: grey;
    animation-delay: calc( 20s / 5 * (5 - 2) * -1);
}

.cuadro3 {
    background-color: indianred;
    animation-delay: calc( 20s / 5 * (5 - 3) * -1);
}

.cuadro4 {
    background-color: white;
    animation-delay: calc( 20s / 5 * (5 - 4) * -1);
}

.cuadro5 {
    background-color: lightpink;
    animation-delay: calc( 20s / 5 * (5 - 5) * -1);
}

/*.cuadro6 {*/
/*    background-color: bisque;*/
/*    animation-delay: calc( 20s / 6 * (6 - 6) * -1);*/
/*}*/

@keyframes moverCarrusel {
    to {
        left: -350px;
    }
}

#objetivo-equipo {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    color: #004643;
}

#objetivo-equipo article>p {
    border: 1px solid #004643;
    width: 80%;
    margin: auto;
    padding: 0.5em;
}

#objetivo-equipo article p {
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-align: justify;
    color: #004643;
}

#equipo-eco-aware {
    margin-top: 1.5em;
    display: flex;
    gap: 1em;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0F3433;
    padding: 1em;
}

#equipo-eco-aware article {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #ABD1C6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuestras-redes:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.nombre-imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.nombre-imagen h1 {
    font-size: 1.35rem;
    color: #004643;
    letter-spacing: 2px;
}

.img {
    width: 40%;
    background-color: #0F3433;
    height: 80%;
    border-radius: 100%;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#equipo-eco-aware article:hover {
    background-color: #F9BC60;
    color: #0F3433;
}

.iconos-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 25%;
}

.iconos-redes img {
    width: 13%;
    height: auto;
}

footer {
    margin-top: 1em;
}